* {
  font-family: 'Fira Mono';
  font-weight: 700;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
}

h1 {
  padding: 1rem;
  background-color: #F3A03A;
  background-color: rgb(231, 76, 60);
  color: rgb(26, 26, 26);
}

canvas {
  margin: 1rem auto;
  border: 5px solid white;
}


header {
    position: relative;
    width: 100%;
}

main {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
}


/** Special classes */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(42, 42, 42);
}

::selection {
    color: #fff; 
    background: rgb(42, 42, 42);
}

a, a:visited, a:active {
  color: rgb(46, 204, 113);
}

a:hover {
  text-decoration: none;
}