* {
  /*font-family: 'Fira Mono';*/
  font-family: 'Consolas';
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  color: rgb(170, 170, 170);
}



canvas {
  margin: 1rem auto;
  border: 5px solid white;
  height: 100%;
  width: 100%;
}

/**
 * Header Style
 */
header {
    position: relative;
    background-color: rgb(231, 76, 60);
    width: 100%;
}

header h1 {
  display: inline-block;
  /*padding: 1rem;*/
  position: absolute;
  top: -15px;
  width: 100%;

  color: rgb(26, 26, 26);
}

header a.back-button, header .home-button {
  display: inline-block;
  padding: 1rem;
  color: rgb(170, 170, 170);
  background-color: rgb(26,26,26);
  height: 100%;
  cursor: pointer;
}

header .back-button:hover {
  color: white;
}

header .title-container {
  position: relative;
  display: inline-block;
  width: 80%;
}


/**
 * Main Style
 */
main {
  /*padding: 1rem;*/
}


.desc {
  width: 100%;
  text-align: center;
}


@media all and (max-width: 1024) {
  main {
    padding: 0;
  }
}









/** Special classes */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(42, 42, 42);
}

::selection {
    color: #fff; 
    background: rgb(42, 42, 42);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

a, a:visited, a:active {
  color: rgb(46, 204, 113);
}

a:hover {
  text-decoration: none;
}

